<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h1>Osnovna Škola "Zamet"</h1>
    <div style="position:absolute;right:20px;top:10px">
        <a href="register">Register</a></li>
    </div>
    <div style="position:absolute;right:120px;top:10px">
        <a href="accounts/login">Log in</a></li>
    </div>
       
    
    {% if user.is_authenticated %}
        <p>Vaše ime: {{ user.username }}</p>
    {% else %}
        <p>Niste prijavljeni.</p>
    {% endif %}
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="">Početna stranica</a></li>
            <li><a href="/profesori">Profesori</a></li>
            <li><a href="/ucenici">Učenici</a></li>
            <li><a href="/ucionice">Učionice</a></li>
            <li><a href="/predmeti">Predmeti</a></li>
            <li><a href="/add_profesor">Dodaj profesora</a></li>
            <li><a href="/add_ucenik">Dodaj učenika</a></li>
            <li><a href="/add_ucionica">Dodaj učionicu</a></li>
            <li><a href="/add_predmet">Dodaj predmet</a></li>
        </ul>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>